<% layout('layout') -%>

<h2>
    <% if (typeof dog === 'undefined') { %>
        new
    <% }else{ %>
        edit
    <% } %>
</h2>



<container>

    <form method="POST">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="name">Kutya neve</label>
                <input type="text" class="form-control" id="name" placeholder="dogname" name="name"
                       value="<%= (typeof dog !== 'undefined') ? dog.name : '' %>">
            </div>
            <div class="col-*">
                <label for="size">Méret</label>
                <input type="text" class="form-control" id="size" placeholder="dogsize" name="size"
                       value="<%= (typeof dog !== 'undefined') ? dog.size : '' %>">
            </div>
            <div class="col-*">
                <label for="breed">Fajta</label>
                <input type="text" class="form-control" id="breed" placeholder="dogbreed" name="breed"
                       value="<%= (typeof dog !== 'undefined') ? dog.breed : '' %>">
            </div>
        </div>
        <div class="form-row">
            <div class="col-*">
                <label for="colour">Szín</label>
                <input type="text" class="form-control" id="colour" placeholder="dogcolour" name="colour"
                       value="<%= (typeof dog !== 'undefined') ? dog.colour : '' %>">
            </div>
            <div class="col-*">
                <label for="age">Életkora</label>
                <input type="number" class="form-control" id="age" placeholder="Dogage" name="age"
                       value="<%= (typeof dog !== 'undefined') ? dog.age : '' %>">
            </div>
            <div class="form-col-*">
                <label for="_trainer">Oktato</label>
                <input type="text" id="_trainer" class="form-control" name ="_trainer"
                       value="<%= (typeof dog !== 'undefined') ? dog._trainer._id : " " %>">
            </div>

            <div class="form-group" >
                <input type="submit" class="btn btn-primary" value="Save"/>
                <a href="/dogs" class="btn btn-default">Cancel</a>
            </div>

        </div>

    </form>


</container>