
<container>
    <form method="POST">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="dogname">Kutya neve</label>
                <input type="text" class="form-control" id="dogname" placeholder="Dogname" name="name"
                       value="<%= (typeof dog !== 'undefined') ? dog.name : '' %>">
            </div>
            <div class="col-*">
                <label for="dogsize">Méret</label>
                <input type="text" class="form-control" id="dogsize" placeholder="Dogsize" name="size"
                       value="<%= (typeof dog !== 'undefined') ? dog.size : '' %>">
            </div>
            <div class="col-*">
                <label for="dogbreed">Fajta</label>
                <input type="text" class="form-control" id="dogbreed" placeholder="Dogbreed" name="breed"
                       value="<%= (typeof dog !== 'undefined') ? dog.breed : '' %>">
            </div>
        </div>
        <div class="form-row">
            <div class="col-*">
                <label for="dogcolour">Szín</label>
                <input type="text" class="form-control" id="dogcolour" placeholder="Dogcolour" name="colour"
                       value="<%= (typeof dog !== 'undefined') ? dog.colour : '' %>">
            </div>
            <div class="col-*">
                <label for="dogage">Életkora</label>
                <input type="number" class="form-control" id="dogage" placeholder="Dogage" name="age"
                       value="<%= (typeof dog !== 'undefined') ? dog.age : '' %>">
            </div>

        </div>

        <button class="btn btn-primary" type="submit" formaction="/dogs.html">Mentés</button>
    </form>
</container>