<% layout('layout') -%>

<h2><small>Trainer : <% trainer.name%></small></h2>
<div class="container">
    <caption >
        <h3 style="display: inline-block">Dogs</h3>
        <a href="/dogs/<%= trainer._id %>/add" class="btn btn-lg btn-primary" role="button">Add Dog</a>
    </caption>
    <table class="table table-bordered table-hover">


        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Breed</th>
            <th scope="col">Colour</th>
            <th scope="col">Age</th>
            <th scope="col">Trainer</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <% dog.forEach(function(oneDog){ %>
        <tr>
            <td>  <%= oneDog.name %></td>
            <td> <%= oneDog.size %></td>
            <td> <%= oneDog.breed %></td>
            <td> <%= oneDog.colour %></td>
            <td> <%= oneDog.age %></td>
            <td> <%= oneDog._trainer %></td>
            <td>
                <a href="/dogs/<%= trainer._id %>/edit/<%= oneDog._id%>" class="btn btn-sm btn-primary" role="button">Edit</a>
                <a href="/dogs/<%= trainer._id %>/delete/<%=oneDog._id%>" class="btn btn-sm btn-danger" role="button">Delete</a>
            </td>
        </tr>
        <% }); %>

        </tbody>
    </table>
</div>
