<% layout('layout') -%>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 100px">
    </nav>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">name</th>
            <th scope="col">number</th>
            <th scope="col">_id</th>
            <th scope="col">dogs</th>
            <th scope="col">misc</th>
        </tr>
        </thead>
        <tbody>
        <% trainer.forEach(function (oneTrainer) { %>
        <tr>
            <td><%= oneTrainer.name %></td>
            <td><%= oneTrainer.number %></td>
            <td><%= oneTrainer._id %></td>
            <td>
                <a href="/dogs">dogs</a>

            </td>
            <td>
                <a href="/trainers/edit/<%=oneTrainer._id%>" class="btn btn-sm btn-primary" role="button">Edit</a>
                <a href="/trainers/delete/<%=oneTrainer._id%>" class="btn btn-sm btn-danger" role="button">Delete</a>

            </td>
        </tr>

        </tbody>
        <% });%>
    </table>
    <div class="text-center">
        <a href="/trainers/add" class="btn btn-lg btn-primary" role="button">Add Trainer</a>
    </div>

</div>